body,html{
  height: 100%;
}
#main{
  width: 100%;
  position: fixed;
  top: 20vh;
}
.cover-bg{
  background-image: url('../img/aboutbackground.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
  color: #333;
}

nav{
  z-index: 2;
  margin-top: 1.5em;
  margin-left: 3%;
  margin-right: 3%;
  position: fixed;
  width: 94%;
  height: 1.4em;
  overflow: hidden;
}
.nav-button{
  color: #333;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 0.15em;
  padding-left: 0.05em;
  -webkit-transition: color 0.2s ease-out;
  -ms-transition:color 0.2s ease-out;
}
.nav-button:hover{
  color: #354593;
  border-bottom: 0.1em solid #354593;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
#projects-button{
  margin-right: 2em;
}

.main-content{
  width: 40.5em;
  max-width: 66%;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#starter{
  color: #4B4E7A;
  font-size: 1.3em;
  line-height: 1.65em;
  font-weight: 600;
}
.intro-p{
  margin-top: 0;
  color: #4B4E7A;
  line-height: 1.7em;
}

@media (max-width:58.55em){
  #main{
    top: 16vh;
  }
  .main-content{
  width: 27.3em;
  }
}

@media (max-width:40.7em){
  .main-content{
    width: 28em;
    max-width: 90%;
    font-size: 2.5vw;
  }
}
