.cover-bg{
  background-image: url('../img/mainbackground.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
  color: #333;
}
.section{
  height: 100%;
  position: relative;
}
.nav{
  margin-top: 1.5em;
  position: absolute;
  z-index: 2;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 1.4em;
  overflow: hidden;
}
.nav-button{
  color: #FAFAFA;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 0.15em;
  padding-left: 0.05em;
  -webkit-transition: color 0.2s ease-out;
  -ms-transition:color 0.2s ease-out;
}
.darkbutton{
  color: #333;
}
.nav-button:hover{
  color: #F4D8BD;
  border-bottom: 0.1em solid #F4D8BD;
}
.darkbutton:hover{
  color: #4B4E7A;
  border-bottom: 0.1em solid #4B4E7A;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
#projects-button{
  margin-right: 2em;
}

#main{
  width: 100%;
  position: fixed;
  top: 27vh;
}
.main-content{
  z-index: 2;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.content-holder{
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 24.4em;
}
.mainheading{
  font-size: 1.7em;
  letter-spacing: 0.06em;
  color: #FAFAFA;
  margin-bottom: 0.8em;
}
.intro{
  width: 100%;
}
.intro-p{
  margin: 0;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #FAFAFA;
}

#projects{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.projects-left{
  width: 60%;
}
.halfimage{
  width: 100%;
}
.projects-right{
  margin-left: 10%;
  width: 30%;
}
.projecttitle{
  margin-bottom: 3em;
  height: auto;
}
#lastproject{
  margin-bottom: 0;
}
.subheading{
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 0.4em;
}
.thirdheading{
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}
.project-link{
  color: #B2B2B2;
  cursor: pointer;
}

.project-link:hover, .project-link:focus{
  color: #333;
}
.selected{
  color: #333;
  cursor: pointer;
}

@media (max-width:34em){
  .content-holder{
    font-size: 2.9vw;
    width: 72%;
  }
}
@media (max-width:25em){
  .cover-bg{
    background-image: url('../img/mainbackground_mobile.png');
  }
  .content-holder{
    font-size: 3.1vw;
    width: 76.6%;
  }
}
