nav{
  margin-top: 1.5em;
  margin-left: 3%;
  margin-right: 3%;
  width: 94%;
  height: 1.4em;
  overflow: hidden;
  margin-bottom: 2em;
}
.nav-button{
  color: #333;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 0.15em;
  padding-left: 0.05em;
  -webkit-transition: color 0.2s ease-out;
  -ms-transition:color 0.2s ease-out;
}
.nav-button:hover{
  color: #354593;
  border-bottom: 0.1em solid #354593;
}
.nav-left{
  float: left;
}
.nav-right{
  float: right;
}
#projects-button{
  margin-right: 2em;
}

.project-intro{
  width: 100%;
  margin-top: 5em;
}
#aroma{
  margin-top: 8em;
}
.intro-img{
  width: 58em;
  max-width: 90%;
  height: auto;
  margin: auto;
  position: relative;
}
.title-img{
  width: 100%;
}
#small{
  display: none;
}
.intro-text{
  position: absolute;
  right: 5%;
  top: 35%;
  width: 16.4em;
}
.project-name{
  color: #FAFAFA;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.4em;
  letter-spacing: 0.08em;
}
.project-description{
  color: #FAFAFA;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 100;
  letter-spacing: 0.05em;
}
.project-deatil{
  color: #FAFAFA;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
  margin-top: 0.7em;
  letter-spacing: 0.05em;
}

.shorterP, .shortP, .middleP, .longP{
  max-width: 70%;
  margin:auto;
}
.shorterP{
  width: 45.1em;
}
.shortP{
  width: 45.7em;
}
.middleP{
  width: 46.1em;
}
.longP{
  width: 46.5em;
  margin-bottom: 5em;
}
.firstP{
  margin-top: 8em;
}

.subheading{
  font-size: 1.3em;
  font-weight: 600;
  color: #6DB279;
}
.paragraph{
  width: 100%;
  font-size: 1.1em;
  line-height: 1.5em;
}

.personas, .interfaceTwo, .prototype-gif{
  width: 52em;
  max-width: 70%;
  margin: auto;
  display: flex;
  margin-bottom: 4em;
}

.firstImg{
  margin-right: 5%;
}
.imgRMargin{
  margin-right: 5%;
}

.journeymap, .appflow{
  width: 62em;
  max-width: 80%;
  margin: auto;
  margin-bottom: 4em;
}

.appflow{
  margin-top: -1.5em;
}

.interfaceOne{
  width: 40em;
  max-width: 80%;
  margin: auto;
  margin-bottom: 2.5em;
}
.persona img, .journeymap img, .appflow img, .interfaceOne img, .interfaceImg img, .gif img, .aromainterfaceImg img{
  width: 100%;
}
.interfaceTwo, .prototype-gif{
  flex-wrap: wrap;
}
.interfaceImg{
  width: 47.5%;
}
.gif{
  width: 30%;
}
.aromainterfaceImg{
  width: 50%;
}
#aromaprototype{
  width: 20%;
  margin: auto;
}
#aromaprototype img{
  width: 100%;
}


@media (max-width:64.4em){
  .intro-text{
    right: 4%;
    font-size: 1.6vw;
  }
}
@media (max-width:41.8em){
  .project-intro{
    margin-top:3em;
  }
  #aroma{
    margin-top: 3em;
  }
  #small{
    display: block;
    max-width: 85%;
    margin: 0 auto;
  }
  #large{display: none;}
  .intro-text{
    width:27em;
    font-size: 90%;
    left: 15%;
    top:69%;
    font-size: 2.4vw;
  }
  .project-description{
    margin-bottom: 1em;
  }
  .project-name{
    margin-bottom: 0.3em;
  }
  .project-deatil{
    margin-top: 0.3em;
  }
  .firstP{
    margin-top: 6em;
  }
  #aromaprototype{
    width: 40%;
  }
  .personas,.interfaceTwo{
    flex-wrap: wrap;
  }
  .aromainterfaceImg{
    width: 100%;
  }
}


@media (max-width:28em){
  .project-intro{
    margin-top:2em;
  }
  #aroma{
    margin-top: 2em;
  }
  .intro-img{
    max-width: 100%;
  }
  #small{
    max-width: 100%;
  }
  .intro-text{
    width:27em;
    font-size: 90%;
    left: 9%;
    top:69%;
    font-size: 3.1vw;
  }
  .firstP{
    margin-top: 4.5em;
  }
  .shorterP, .shortP, .middleP, .longP{
    max-width: 88%;
  }
  *{
    font-size: 95%;
  }
  .personas, .interfaceTwo, .prototype-gif,.journeymap, .appflow,.interfaceOne{
    max-width: 100%;
  }
  .firstImg{
    margin-right: 0;
    margin-bottom: 1.3em;
  }
  .interfaceImg, .aromainterfaceImg{
    width: 100%;
  }
  #aromaprototype{
    width: 60%;
  }

}
