header{
  width:100%;
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  letter-spacing: 0.08em;
}
#headertext{
  font-size: 1.5em;
  margin:auto;
}
nav{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2em;
}
.navigation{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: auto;
  padding: 0;
}
.nav-item{
  padding: 0 1.5em 0 1.5em;
  display: inline-block;
}
.nav-item a{
  padding-bottom: 0.1em;
  text-decoration: none;
  color: #4B4E7A;
}
.nav-item a:hover, .nav-item a:focus{
  color: #334595;
  border-bottom: 0.1em solid #334595;
}

section{
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}
h2{
  font-size: 1.3em;
  padding-bottom: 0.2em;
  border-bottom: 0.1em solid #4B4E7A;
  margin-bottom: 1.2em;
}
.oneelement{
  margin: 0;
  margin-bottom: 2.5em;
}
.codetitle{
  color: #8793A7;
  margin: 0.8em 0;
}
code{
  background-color: #E1E4EF;
  display: block;
  margin-right: 2em;
}
.mainheading{
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  font-size: 1.7em;
  letter-spacing: 0.06em;
}
.subheading{
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  border: none;
  font-size: 1.3em;
  font-weight: 600;
}
.thirdheading{
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: 100;
}

.paragraph{
  font-size: 1.1em;
  line-height: 1.5em;
  width: 36em;
}
.emphasized{
  font-style: normal;
  color: #7086FB;
}
.intext_link{
  color: #333;
}
.intext_link:hover{
  color: #4B4E7A;
  font-weight: 600;
}
.nav-button{
  font-size: 1em;
  font-weight: 500;
  color: #333;
  padding-bottom: 0.15em;
  padding-left: 0.05em;
  text-decoration: none;
  -webkit-transition: color 0.2s ease-out;
  -ms-transition:color 0.2s ease-out;
}
.nav-button:hover{
  color: #4B4E7A;
  border-bottom: 0.1em solid #4B4E7A;
}

.nav{
  margin: 0;
  margin-top: 1.5em;
  width: 100%;
  height: 4.3em;
  overflow: hidden;
  background-color: #F9F9F9;
}
#darknav{
  background-color: #4B4E7A;
}
.nav-left{
  margin-left: 3%;
  margin-top: 1.5em;
  float: left;
}
.darkbutton{
  color: #FAFAFA;
}
.darkbutton:hover{
  color: #F4D8BD;
  border-bottom: 0.1em solid #F4D8BD;
}
.nav-right{
  margin-right: 3%;
  margin-top: 1.5em;
  float: right;
}
.projectsbutton{
  margin-right: 2em;
}

.project-intro{
  width: 100%;
  margin-top: 2em;
}
#aroma{
  margin-top: 3em;
}
.intro-img{
  width: 58em;
  max-width: 90%;
  height: auto;
  margin: auto;
  position: relative;
}
.title-img{
  width: 100%;
}
#small{
  display: none;
}
.intro-text{
  position: absolute;
  right: 5%;
  top: 35%;
  width: 16.4em;
}
.project-name{
  color: #FAFAFA;
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.4em;
  margin-top: 0.3em;
  letter-spacing: 0.08em;
}
.project-description{
  color: #FAFAFA;
  font-size: 0.9em;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 400;
  letter-spacing: 0.05em;
}
.project-deatil{
  color: #FAFAFA;
  font-size: 1em;
  line-height: 1.4em;
  margin: 0;
  margin-top: 0.7em;
  letter-spacing: 0.05em;
}

@media (max-width:64.4em){
  .intro-text{
    right: 4%;
    font-size: 1.6vw;
  }
}
@media (max-width:43.8em) {
  .navigation{
    justify-content: center;
  }
  .nav-item{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.4em;
  }
  .paragraph{
    width: 68%;
  }
}
@media (max-width:41.8em){
  #aroma{
    margin-top: 3em;
  }
  #small{
    display: block;
    max-width: 85%;
    margin: 0 auto;
  }
  #large{display: none;}
  .intro-text{
    width:27em;
    font-size: 90%;
    left: 15%;
    top:69%;
    font-size: 2.4vw;
  }
  .project-description{
    margin-bottom: 1em;
  }
  .project-name{
    margin-bottom: 0.3em;
  }
  .project-deatil{
    margin-top: 0.3em;
  }
}

@media (max-width:32.5em) {
  .paragraph{
    width: 90%;
  }
}
@media (max-width:28em) {
  *{
    font-size: 95%;
  }
  .project-intro{
    margin-top:1.8em;
  }
  #aroma{
    margin-top: 2em;
  }
  .intro-img{
    max-width: 100%;
  }
  #small{
    max-width: 100%;
  }
  .intro-text{
    width:27em;
    font-size: 90%;
    left: 9%;
    top:69%;
    font-size: 3.1vw;
  }
}
@media (max-width:25em) {
  .projectsbutton{
    margin-right: 1em;
  }
}
